*{
    font-family: monospace, sans-serif;
    padding:0px;
    margin:0px;
    border: 0px;

}

body{
    background-color:lightgray;
}

div:nth-of-type(1){
    background-color: red;
    color: white;
    font-size: 50px;
}

p{
background-color: green;
color: white;
font-size: 25px;
}

button{
    background-color:orange;
    font-size: 18px;
    border: 3px solid black;
    margin-bottom: 50px;
}

.divone{
    background-color: #FBC1CB;
    padding: 32px;
    margin: 12px;
}
.divtwo{
    background-color: #ADD9E7;
    margin-bottom: 48px;
}
.divthree{
    background-color: #FCDBB8;
    padding: 32px;
    width: 200px;
    margin-left: auto;
}

.divone,
.divtwo,
.divthree{
    font-size: 30px;
    border: 3px solid black;
    box-sizing: border-box;
}

.mp2{
    width: 400px;
    margin: auto;
}

.mp2 div{
    color:black;
    background-color: #E2F3FE;
    border: 8px solid white;
    padding: 8px 1px 8px 16px;
    box-sizing: border-box;
}

.mp2 div:nth-child(1){
    font-size: 16px;
}

.mp2 div:nth-child(3){
    text-align: center;
}
.mp2 div:nth-child(3) button{
    display: block;
    margin: auto;
}

.cssflex{
    width: 100vw;
    height: 500px;
    background-color: #ADD9E7;
    
}

.css1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;

}

.css1 div{
    width: 25px;
    height: 25px;
    background-color: violet;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FCDBB8;
    padding: 10px;
}

nav .whitebox{
    padding: 10px;
    background-color: white;
    color: blue;
    font-size: 25px;
}

.navlogo{
    padding: 10px;
    margin: auto 220px auto 220px;
    background-color: white;
    color: orange;
    font-weight: bold;
    font-size: 50px;
}