*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}


*::-webkit-scrollbar {
    display: none;
  }


section{
    width: 200vw;
    height: 100vh;
    background-image: linear-gradient(to right, aqua, red);
}

main{
    height: 100vh;
    background-color: blue;
}

